<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div id="searchTitleContainer">
    <h1 class="search-title">Recent Searches</h1>
  </div>
  <div id="searchResultContainer" style="display: none;">
    <p id="searchResult"></p>
  </div>
  <div id="noRecentSearchesMessage" style="display: none;">
  </div>
  
  <form id="searchForm">
    <label for="query">Search:</label>
    <input type="text" id="query" name="query" required>
    
    <button type="submit">Search</button>
  </form>
  <%= javascript_include_tag 'search' %>
</body>
</html>
